<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>hello world</h1>
    <p >name:{{data.name}}</p>
    <p>age:{{data.age}}</p>
    <p>city:{{data.city}}</p>
    <p>skills:{{data.skills}}</p>
<p>eligible for vote:</p>
{% if data.age>=18%}
<p>yes</p>
{% else %}
<p>no</p>
{% endif %}
</body>
</html>