{% extends "base.html" %}
{% block content %}
<h2>Register</h2>

<form method="POST">
<input class="form-control mb-2" name="fullname" placeholder="Full Name">
<input class="form-control mb-2" name="email" placeholder="Email">
<input class="form-control mb-2" name="username" placeholder="Username">
<input class="form-control mb-2" type="password" name="password" placeholder="Password">
<input class="form-control mb-2" type="password" name="confirm" placeholder="Confirm Password">
<button class="btn btn-primary">Register</button>
</form>

<a href="/login">Login</a>
{% endblock %}